

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #7a90de;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 280px;
  }
  
  .info h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    color: #7a90de; 
  }
  
  .info p {
    margin-left:7px;
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #696b72;
  }
  
  .photo img {
    height: 300px;
    border-radius: 500px;
    box-shadow: 10px 3px 13px rgba(0, 0, 0, 0.7  );
   
  }  

  .container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .column {
    width: 48%;
    color: #7a90de; 
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }

  .item {
    margin-bottom: 25px;
    border: #000 solid none;
    padding: 10px;
    margin-right: 450px;
    border-radius:30px;
    color: aliceblue;
    background: #888de9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease-in-out;
  }
  .item:hover {
    background: #f0e1b9;
    color: #fff;
    margin-right: 270px;
   
  }

  .date {
    font-weight: bold;
    font-size: 18px;
  }

  .position {
  
    font-size: 16px;
    color: #333;
  }

  .org {
    font-size: 15px;
    color: #555;
  }     
  body {
    font-family: Arial, sans-serif;
    background: #eef0da url('gear-background.png');
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    color: #7a90de; 
  }
  
  .left, .right {
    width: 48%;
  }
  
  h2 {
    font-size: 22px;
    border-bottom: 2px solid #918a8a;
    padding-bottom: 5px;
  }
  
  .skill {
    margin: 10px 0;
    font-size: large;
    font-weight: bold;
  }
  
  .bar {
    background: #ddd;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
  }
  .bar:hover {
    height: 16px;
    border-radius: 40px;
    
  }
  
  .fill {
    border-radius: 30px;
    height: 100%;
    background:#7a90de;
  }
  
  .html { width: 95%; }
  .css { width: 95%; }
  .react { width: 80%; }
  .figma { width: 60%; }
  
  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
  }
  
  .box {
    background: #eef0da;
    border: 1px solid #b2b77d;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
  }
  .box:hover {
    background: #b2b77d;
    color: #fff;
    transition: 0.4s; 
  }
  
  .interests {
    display: flex;
    gap: 20px;
    margin: 20px 0;
  }
  
  .interest {
    text-align: center;
    font-weight: bold;
 
  }
  
  
  .icon {
    width: 80px;          
    height: 80px;         
    border-radius: 50%;   
    display: flex;       
    align-items: center;  
    justify-content: center; 
    font-size: 30px;
    background: #b2b77d;
    margin-bottom: 5px;
    padding: 0;    
    transition: all 0.4s ease-in-out;        
  }
  
  .icon:hover {
  background-color: #000;
  width: 100px;          
  height: 100px;         
  
     
  }
  
  .goals {
    border: 3px solid #91b5eb;
    border-radius: 30px;
    padding-left: 20px;
    padding:5px ;
    margin:   2px;
    background-color: #91b5eb;
    color: #fff;
  }
  
  footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }